<a href="https://colab.research.google.com/github/ElviraKonovalov/soen471-bigData/blob/main/features_27_37_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
file = 'Motor Vehicle Collisions with KSI Data.csv'
df=  pd.read_csv(file, sep=',');

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
columns_to_drop = ['_id', 'ACCNUM', 'TIME', 'OFFSET', 'WARDNUM', 'DIVISION', 'ACCLOC', 'FATAL_NO', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'POLICE_DIVISION', 'ObjectId', 'geometry']
df = df.drop(columns=columns_to_drop)

In [5]:
df.iloc[:, 27:37] # elvira

,ROAD_CLASS,SPEEDING,STREET1,STREET2,TRAFFCTL,TRSN_CITY_VEH,TRUCK,VEHTYPE,VISIBILITY,YEAR
0,Major Arterial,NaN,BLOOR ST W,DUNDAS ST W,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2006
1,Major Arterial,NaN,BLOOR ST W,DUNDAS ST W,Traffic Signal,NaN,NaN,Other,Clear,2006
2,Major Arterial,NaN,MORNINGSIDE AVE,SHEPPARD AVE E,Traffic Signal,NaN,NaN,Motorcycle,Clear,2006
3,Major Arterial,NaN,MORNINGSIDE AVE,SHEPPARD AVE E,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2006
4,Major Arterial,NaN,EGLINTON AVE E,COMMONWEALTH AVE,No Control,NaN,NaN,"Automobile, Station Wagon",Clear,2006
...,...,...,...,...,...,...,...,...,...,...
16855,NaN,NaN,BRIMLEY RD,BARKDENE HILLS,No Control,NaN,NaN,Bicycle,Clear,2020
16856,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2020
16857,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,"Automobile, Station Wagon",Clear,2020
16858,Major Arterial,NaN,EGLINTON AVE E,BELLAMY RD N,Traffic Signal,NaN,NaN,NaN,Clear,2020
16859,NaN,NaN,BLOOR ST W,GLADSTONE AVE,No Control,NaN,NaN,"Automobile, Station Wagon",Clear,2020

### ROAD_CLASS

In [6]:
print(df.ROAD_CLASS.unique()) # inital road_class categories

['Major Arterial' 'Collector' 'Minor Arterial' 'Local' nan 'Other'
 'Pending' 'Laneway' 'Expressway' 'Expressway Ramp' 'Major Arterial Ramp']

In [ ]:
df.ROAD_CLASS.isnull().sum() # how many nan values in road_class column

497

In [ ]:
'''
"Every street owned by the City of Toronto has been given one of five classifications (with the exception of public laneways)."
classes: Local road, Collector road, Minor arterial road, Major arterical road and Expressway
https://www.toronto.ca/services-payments/streets-parking-transportation/traffic-management/road-classification-system/about-the-road-classification-system/
'''
# replace nan values with most frequent value in the column
df['ROAD_CLASS'] = df['ROAD_CLASS'].fillna(df['ROAD_CLASS'].value_counts().index[0])
print(df.ROAD_CLASS.unique()) # road_class values without nan 
df.ROAD_CLASS.isnull().sum() # how many nan values after fillna

['Major Arterial' 'Collector' 'Minor Arterial' 'Local' 'Other' 'Pending'
 'Laneway' 'Expressway' 'Expressway Ramp' 'Major Arterial Ramp']

0

In [ ]:
# drop rows where ROAD_CLASS is pending
df.drop(df.index[df['ROAD_CLASS'] == 'Pending'], inplace=True)
print(df.ROAD_CLASS.unique())

['Major Arterial' 'Collector' 'Minor Arterial' 'Local' 'Other' 'Laneway'
 'Expressway' 'Expressway Ramp' 'Major Arterial Ramp']

In [ ]:
df.ROAD_CLASS.value_counts()

Major Arterial         12473
Minor Arterial          2598
Collector                929
Local                    761
Expressway                52
Other                     25
Laneway                   10
Expressway Ramp            4
Major Arterial Ramp        1
Name: ROAD_CLASS, dtype: int64

In [ ]:
# replacing Expressway Ramp (4 rows) with Expressway
df['ROAD_CLASS'] = df['ROAD_CLASS'].replace(['Expressway Ramp'],'Expressway')
# Major Arterial Ramp (1 row) with Major Arterial
df['ROAD_CLASS'] = df['ROAD_CLASS'].replace(['Major Arterial Ramp'],'Major Arterial')
df.ROAD_CLASS.value_counts()

Major Arterial    12474
Minor Arterial     2598
Collector           929
Local               761
Expressway           56
Other                25
Laneway              10
Name: ROAD_CLASS, dtype: int64

In [ ]:
# get one hot encoding of columns ROAD_CLASS
hot = pd.get_dummies(df['ROAD_CLASS'])
# drop column ROAD_CLASS as it is now encoded
df = df.drop('ROAD_CLASS',axis = 1)
# join the encoded df
df = df.join(hot)
df

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
0,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,Failed to Yield Right of Way,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
1,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,NaN,NaN,...,Other,Clear,2006,0,0,0,0,1,0,0
2,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Disobeyed Traffic Control,Unknown,...,Motorcycle,Clear,2006,0,0,0,0,1,0,0
3,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Driving Properly,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
4,Fatal,NaN,Yes,Yes,NaN,2006-03-12T00:00:00,NaN,Scarborough,Other,"Ability Impaired, Alcohol",...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16855,Non-Fatal Injury,Yes,NaN,Yes,Yes,2020-08-30T00:00:00,NaN,NaN,NaN,NaN,...,Bicycle,Clear,2020,0,0,0,0,1,0,0
16856,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Failed to Yield Right of Way,Inattentive,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16857,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Driving Properly,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16858,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,NaN,NaN,...,NaN,Clear,2020,0,0,0,0,1,0,0
16859,Non-Fatal Injury,NaN,NaN,Yes,Yes,2020-09-01T00:00:00,NaN,NaN,Improper Lane Change,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0

### SPEEDING

In [ ]:
# replacing nan with 0 ('No') and 'Yes' with 1
print(df.SPEEDING.unique())
df['SPEEDING'] = df['SPEEDING'].fillna(0)
print(df.SPEEDING.unique())
df['SPEEDING'] = df['SPEEDING'].replace(['Yes'], 1)
print(df.SPEEDING.unique())

[nan 'Yes']
[0 'Yes']
[0 1]

### STREET1 and STREET2

In [ ]:
# keep streets to use for later
street1 = df.STREET1
street2 = df.STREET2

In [ ]:
# unnecessary? too many street values, drop columns?
df = df.drop(columns=['STREET1', 'STREET2'])
df

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
0,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,Failed to Yield Right of Way,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
1,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Toronto and East York,NaN,NaN,...,Other,Clear,2006,0,0,0,0,1,0,0
2,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Disobeyed Traffic Control,Unknown,...,Motorcycle,Clear,2006,0,0,0,0,1,0,0
3,Fatal,Yes,NaN,Yes,NaN,2006-03-11T00:00:00,NaN,Scarborough,Driving Properly,Unknown,...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
4,Fatal,NaN,Yes,Yes,NaN,2006-03-12T00:00:00,NaN,Scarborough,Other,"Ability Impaired, Alcohol",...,"Automobile, Station Wagon",Clear,2006,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16855,Non-Fatal Injury,Yes,NaN,Yes,Yes,2020-08-30T00:00:00,NaN,NaN,NaN,NaN,...,Bicycle,Clear,2020,0,0,0,0,1,0,0
16856,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Failed to Yield Right of Way,Inattentive,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16857,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,Driving Properly,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0
16858,Non-Fatal Injury,Yes,NaN,Yes,NaN,2020-09-01T00:00:00,NaN,Scarborough,NaN,NaN,...,NaN,Clear,2020,0,0,0,0,1,0,0
16859,Non-Fatal Injury,NaN,NaN,Yes,Yes,2020-09-01T00:00:00,NaN,NaN,Improper Lane Change,Normal,...,"Automobile, Station Wagon",Clear,2020,0,0,0,0,1,0,0

### TRAFFCTL
not sure about this one

In [ ]:
df.TRAFFCTL.value_counts()

No Control              8085
Traffic Signal          7104
Stop Sign               1295
Pedestrian Crossover     195
Traffic Controller       104
Yield Sign                16
Streetcar (Stop for)      16
Traffic Gate               5
School Guard               2
Police Control             2
Name: TRAFFCTL, dtype: int64

### TRSN_CITY_VEH - drop
Transit or City Vehicle Involved in Collision

not sure if needed

In [ ]:
# replace nan with 0 ('No') and 'Yes' with 1
df['TRSN_CITY_VEH'] = df['TRSN_CITY_VEH'].fillna(0)
df.TRSN_CITY_VEH.replace(('Yes'), (1), inplace=True)
df.groupby('TRSN_CITY_VEH').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
TRSN_CITY_VEH,,,,,,,,,,,,,,,,,,,,,
0,15842,8318,707,14887,1701,15842,463,15708,8030,8032,...,13226,15826,15842,15842,15842,15842,15842,15842,15842,15842
1,1011,381,32,414,78,1011,5,1004,427,427,...,815,1009,1011,1011,1011,1011,1011,1011,1011,1011

In [ ]:
df = df.drop(columns='TRSN_CITY_VEH')

### TRUCK - drop
Truck Driver Involved in Collision

In [ ]:
# replace nan with 0 ('No') and 'Yes' with 1
df['TRUCK'] = df['TRUCK'].fillna(0)
df.TRUCK.replace(('Yes'), (1), inplace=True)
df.groupby('TRUCK').count()

,ACCLASS,AG_DRIV,ALCOHOL,AUTOMOBILE,CYCLIST,DATE,DISABILITY,DISTRICT,DRIVACT,DRIVCOND,...,VEHTYPE,VISIBILITY,YEAR,Collector,Expressway,Laneway,Local,Major Arterial,Minor Arterial,Other
TRUCK,,,,,,,,,,,,,,,,,,,,,
0,15811,8188,724,14791,1656,15811,449,15676,7945,7945,...,13148,15795,15811,15811,15811,15811,15811,15811,15811,15811
1,1042,511,15,510,123,1042,19,1036,512,514,...,893,1040,1042,1042,1042,1042,1042,1042,1042,1042

In [ ]:
df = df.drop(columns='TRUCK')

### VEHTYPE
Type of Vehicle

In [ ]:
df.VEHTYPE.value_counts()

Automobile, Station Wagon           6886
Other                               4745
Bicycle                              722
Motorcycle                           608
Municipal Transit Bus (TTC)          249
Pick Up Truck                        178
Truck - Open                         175
Passenger Van                        118
Delivery Van                          72
Truck - Closed (Blazer, etc)          60
Street Car                            42
Truck - Dump                          34
Truck-Tractor                         33
Taxi                                  28
Moped                                 22
Truck (other)                         13
Bus (Other) (Go Bus, Gray Coach)      13
Truck - Tank                          10
Intercity Bus                         10
School Bus                             5
Police Vehicle                         4
Construction Equipment                 4
Tow Truck                              4
Fire Vehicle                           3
Other Emergency Vehicle                1
Off Road - 2 Wheels                    1
Truck - Car Carrier                    1
Name: VEHTYPE, dtype: int64

In [ ]:
# replacing any type of Bus with Bus
df['VEHTYPE'] = df['VEHTYPE'].replace(['Bus (Other) (Go Bus, Gray Coach)', 'School Bus', 'Municipal Transit Bus (TTC)', 'Intercity Bus'], 'Bus')
# replacing any type of truck with Truck
df['VEHTYPE'] = df['VEHTYPE'].replace(['Truck-Tractor', 'Truck - Tank', 'Truck - Open', 'Truck - Dump', 'Truck - Closed (Blazer, etc)', 'Truck - Car Carrier', 'Truck (other)', 'Tow Truck', 'Pick Up Truck', ], 'Truck')
# replacing any type of emergency vehicle with Emergency
df['VEHTYPE'] = df['VEHTYPE'].replace(['Police Vehicle', 'Other Emergency Vehicle', 'Fire Vehicle'], 'Emergency')
# replacing any type of van with Van
df['VEHTYPE'] = df['VEHTYPE'].replace(['Delivery Van', 'Passenger Van'], 'Van')

df.VEHTYPE.value_counts()

Automobile, Station Wagon    6886
Other                        4745
Bicycle                       722
Motorcycle                    608
Truck                         508
Bus                           277
Van                           190
Street Car                     42
Taxi                           28
Moped                          22
Emergency                       8
Construction Equipment          4
Off Road - 2 Wheels             1
Name: VEHTYPE, dtype: int64

**other categories to remove? or combine? <br>
add Off Road - 2 Wheels? to Other?<br>
combine Moped and Motorcycle?**<br>

### VISIBILITY
Environment Condition

In [ ]:
df.VISIBILITY.value_counts()

Clear                     14470
Rain                       1819
Snow                        331
Other                        99
Fog, Mist, Smoke, Dust       46
Freezing Rain                43
Drifting Snow                19
Strong wind                   8
Name: VISIBILITY, dtype: int64

In [ ]:
# Label Encoding
df['VISIBILITY'] = df['VISIBILITY'].astype('category').cat.codes
df.VISIBILITY.value_counts()

1    14470
6     1819
7      331
5       99
3       46
4       43
2       19
0       18
8        8
Name: VISIBILITY, dtype: int64

### YEAR

In [ ]:
df = df.drop(columns='YEAR')

In [ ]:
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer

In [ ]:
# y = df.INJURY
# df = df.drop(columns=['INJURY'])
X = df.iloc[:, 27:37]

In [ ]:
# Instantiate the clustering model and visualizer
model = KMeans()
visualizer = KElbowVisualizer(model, k=(4,12))

visualizer.fit(X)        # Fit the data to the visualizer
visualizer.show()        # Finalize and render the figure

ValueError: ignored